/* ===================
    Root
=================== */

:root {
    --clr-primary: hsl(174, 77%, 80%);
    --bg-primary: hsl(174, 86%, 45%);

    --clr-warning: hsl(15, 100%, 70%);
    --bg-warning: hsl(14, 92%, 95%);

    --clr-cta: hsl(226, 100%, 87%);
    --bg-cta: var(--neutral-700);

    --neutral-100: hsl(0, 0%, 100%);
    --neutral-200_1: hsl(230, 100%, 99%);
    --neutral-200_2: hsl(224, 65%, 95%);
    --neutral-300: hsl(223, 50%, 87%);
    --neutral-400: hsl(225, 20%, 60%);
    --neutral-700: hsl(227, 35%, 25%);

    --ff-body: 'Manrope', sans-serif;

    --fs-400: 0.9375rem;
    --fs-700: 1.5rem;
    --fs-900: 3rem;

    --fw-400: 600;
    --fw-700: 800;

    --spacer-4: 2rem;
    --spacer-6: 4rem;
}

/* ===================
    Reset
=================== */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* ===================
    General
=================== */
body {
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    font-weight: var(--fw-400);

    background-color: var(--neutral-200_2);
    color: var(--neutral-400);
}

/* ===================
    Utils
=================== */
/* Main */
.container {
    width: min(100% - 2rem, 56.25rem);
    margin-inline: auto;
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-spacer, 1rem);
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.a-center {
    align-items: center;
}

.custom-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 50em) {
    .custom-flex {
        flex-direction: row;
        justify-content: space-between;
    }
}

.m-block-4 {
    margin-block: var(--spacer-4);
}

.m-block-6 {
    margin-block: var(--spacer-6);
}

/* Typography */
.fs-900 {
    font-size: var(--fs-900);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fw-700 {
    font-weight: var(--fw-700);
}

.text-dark {
    color: var(--neutral-700);
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* ===================
    Inputs
=================== */
/* button */
.btn {
    display: inline-block;
    width: 15em;
    height: fit-content;

    cursor: pointer;
    text-decoration: none;
    padding: 1em;
    font-weight: var(--fw-700);

    border: 0;
    border-radius: 20em;
}

.btn--primary {
    background-color: var(--bg-cta);
    color: var(--clr-cta);
}

.btn--primary:where(:hover, :focus) {
    color: var(--neutral-200_1);
}

/* toggle */
.toggle {
    display: inline-block;
    width: 66px;
    height: 30px;
    background-color: var(--neutral-300);
    border-radius: 20em;
    position: relative;
    cursor: pointer;
}

.toggle:hover {
    background-color: var(--bg-primary);
}

.toggle::before {
    --_gap: .3em;
    --_width: 35%;
    content: '';
    position: absolute;
    top: var(--_gap);
    bottom: var(--_gap);
    left: var(--_gap);
    right: auto;

    width: var(--_width);
    background-color: var(--neutral-100);
    border-radius: 50%;
}

input[type="checkbox"]:checked ~ .toggle::before {
    right: var(--_gap);
    left: auto;
}

/* slider */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: var(--neutral-200_2);
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

}

.slider::-webkit-slider-thumb {
    width: 40px;
    aspect-ratio: 1;
    border: 0;
    border-radius: 50%;
    padding: 1.5em;
    background-image: url('./images/icon-slider.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--bg-primary);
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
}

/* discount */
.discount {
    position: relative;
}

.discount::after {
    content: '-25%';
    font-size: .8rem;
    position: absolute;
    top: 0;
    left: 110%;

    font-weight: var(--fw-700);
    padding: .2em .5em;

    background-color: var(--bg-warning);
    color: var(--clr-warning);
    border-radius: .7em;
}

@media (min-width: 50em) {
    .discount::after {
        content: '25% discount';
        width: 7.5rem;
        text-align: center;
    }
}

/* list style */
.list {
    margin: 0;
}

.list > li {
    padding-left: 1rem;
    width: fit-content;
    margin-inline: auto;
}

@media (min-width: 50em) {
    .list > li {
        margin-inline: unset;
    }
}

.list--offers {
    list-style-image: url('./images/icon-check.svg');
}

/* ===================
    Main
=================== */
.main {
    display: grid;
    place-items: center;
}

.card {
    padding: 2em;
    width: min(100%, 40rem);
    margin-inline: auto;
    background-color: var(--neutral-100);
    text-align: center;
    border-radius: 1em;
    box-shadow: 0 5px 20px -6px #999;
}

.card__billing {
    width: fit-content;
    margin-inline: auto;
}

.card__cta {
    padding-block: 2rem;
}