@use "../abstract/variables" as *;

.header {
  --flow-spacer: 0.5rem;
  padding-block: max(4rem, 10vh);
  padding-inline: 2rem;
  margin-bottom: 2rem;

  background-image: url("/images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: hsl(224, 65%, 95%);

  border-bottom-left-radius: 10em;

  @media (max-width: $breakpoint) {
    & p span {
      display: block;
    }
  }
}

.price-per-period {
  --gap: 0.3rem;
  align-items: center;
}

.card {
  --flow-spacer: 2rem;
  width: min(100% - 2rem, 40rem);

  margin-inline: auto;
  padding: 2em;
  text-align: center;
  margin-top: -4rem;
  margin-bottom: 3rem;

  background-color: $neutral-100;
  border-radius: 1em;
  /* reference: https://getcssscan.com/css-box-shadow-examples */
  box-shadow: 0px 8px 15px rgba(149, 157, 165, 0.2);

  &__billing {
    width: fit-content;
    margin-inline: auto;
  }
}
