.main {
  display: grid;
  place-items: center;
}

.card {
  --flow-spacer: 2rem;
  width: min(100%, 40rem);

  margin-inline: auto;
  padding: 2em;
  text-align: center;

  background-color: var(--neutral-100);
  border-radius: 1em;
  box-shadow: 0 5px 20px -6px #999;
}

.card__billing {
  width: fit-content;
  margin-inline: auto;
}

.card__cta {
  padding-block: 2rem;
}
