$clr-primary: hsl(174, 77%, 80%);
$bg-primary: hsl(174, 86%, 45%);

$neutral-100: hsl(0, 0%, 100%);
$neutral-200: hsl(230, 100%, 99%);
$neutral-300: hsl(223, 50%, 87%);
$neutral-400: hsl(225, 20%, 60%);
$neutral-700: hsl(227, 35%, 25%);

$fs-400: 0.9375rem; // 15px
$fs-700: clamp(1.1rem, 5vw, 2rem);
$fs-900: clamp(2rem, 10vw, 3rem);

$fw-400: 600;
$fw-700: 800;

$breakpoint: 50em;
