@use '../abstract/variables' as *;

.btn {
  --clr-cta: hsl(226, 100%, 87%);
  --bg-cta: hsl(227, 35%, 25%);
  width: 15em;
  height: fit-content;

  padding: 1em;
  font-weight: $fw-700;
  text-decoration: none;

  border: 0;
  border-radius: 20em;
}

.btn--primary {
  background-color: var(--bg-cta);
  color: var(--clr-cta);
}

.btn--primary:is(:hover, :focus) {
  color: $neutral-200;
}
