*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

img {
  max-width: 100%;
  display: block;
}

input,
button {
  font: inherit;
}

button {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
