.container {
  width: min(100% - 2rem, 56.25rem);
  margin-inline: auto;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1rem);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.a-center {
  align-items: center;
}

.custom-flex {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 50em) {
  .custom-flex {
    flex-direction: row;
    justify-content: space-between;
  }
}

.m-block-4 {
  margin-block: var(--spacer-4);
}

.m-block-6 {
  margin-block: var(--spacer-6);
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fw-700 {
  font-weight: var(--fw-700);
}

.text-dark {
  color: var(--neutral-700);
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}
